body {
  background-color: rgb(48, 48, 54);
  font-family: 'Georama', sans-serif;
  font-size: 2em;
  /* added padding to prevent navbar overlap. (100 based on browser inpector of size) */
  padding-top: 90px;
}

header h1 {
  font-family: 'Georama', sans-serif;
  font-size: 30px;
  color: #bbc085;
  padding: 65px 0 65px 25px;
  
}